@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%; /* #f7f7f7 */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 4 89% 41%; /* #c4170c */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 94%; /* #f0f0f0 */
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 94%; /* #f0f0f0 */
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 4 89% 41%; /* #c4170c */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 87%; /* #dedede */
    --input: 0 0% 87%; /* #dedede */
    --ring: 4 89% 41%; /* #c4170c */
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
